.promocode {
	display: flex;
	flex-direction: column;
	padding: 40px;
	gap: 30px;
	border-bottom: $border-width solid #cfcfcf;
}

.promocode__title {
	font-weight: 700;
	font-size: 18px;
}

.promocode-container {
	display: flex;
	gap: 10px;
}
